<p>
  <a routerLink="/home">Zurück</a>
</p>

<h2>Bayerische Bier:</h2>

<div *ngFor="let produkt of produkts">

  <h3>
    <a [title]="produkt.name + ' details' "
       [routerLink]="['/produkts', produkt.id]">
      {{ produkt.name }}
    </a>
  </h3>

  <p *ngIf="produkt.beschreibung">
    Beschreibung: {{ produkt.beschreibung}}
  </p>

  <router-outlet></router-outlet>
</div>



















  <!--  <button type="button" (click)="merken()">-->
  <!--    Merken-->
  <!--  </button>-->

  <!--  <app-produkt-alerts-->
  <!--    [produkt]="produkt"-->
  <!--    (notify)="benachrichtigen()">-->
  <!--  </app-produkt-alerts>-->


