<h2>Biersorten:</h2>

<div *ngFor="let produkt of produkts">

  <h3>
    <a [title]="produkt.name + ' details' "
       [routerLink]="['/produkts', produkt.id]">
      {{ produkt.name }}
    </a>
  </h3>

  <p *ngIf="produkt.beschreibung">
    Beschreibung: {{ produkt.beschreibung}}
  </p>



















<!--  <button type="button" (click)="merken()">-->
<!--    Merken-->
<!--  </button>-->

<!--  <app-produkt-alerts-->
<!--    [produkt]="produkt"-->
<!--    (notify)="benachrichtigen()">-->
<!--  </app-produkt-alerts>-->

</div>
