<!--<div class="bg-img">-->
<br>
<!--<a [routerLink]="['']">-->
<!--  <em>zurück zur Bierscholle</em>-->
<!--</a>-->
  <a routerLink="/produkt_liste"><em><strong>zurück zu der Bierauswahl :)</strong></em></a>

<div id="customerData">
  <strong><h2><strong>Wo soll es hingehen?</strong></h2></strong>



<form class="form">

  <input name="vorname" type="text" [(ngModel)]="neuerKunde.vorname" placeholder="Vorname">
  <input name="nachname" type="text" [(ngModel)]="neuerKunde.nachname" placeholder="Nachname"><br>
  <input name="strasse" type="text" [(ngModel)]="neuerKunde.strasse" placeholder="Strasse">
  <input name="hausnummer" type="text" [(ngModel)]="neuerKunde.hausnummer" placeholder="Hausnummer"><br>
  <input name="plz" type="text" [(ngModel)]="neuerKunde.plz" placeholder="PLZ">
  <input name="ort" type="text" [(ngModel)]="neuerKunde.ort" placeholder="Ort"><br>
  <input name="email" type="text" [(ngModel)]="neuerKunde.email" placeholder="E-mail"><br>
  <input name="telefonnummer" type="text" [(ngModel)]="neuerKunde.telefonnummer" placeholder="Tel."><br>

  <br>
  <a routerLink="/kauf_bestaetigung"><button (click)="save()" type="submit" >speichern</button></a>

</form>

<!--</div>-->
<router-outlet></router-outlet>

</div>
