<br>
<a [routerLink]="['']">
  <em>zurück zur Bierscholle</em>
</a>
<br>
<br>
<a routerLink="/produkt_liste"><em>zurück zu der Bierauswahl :)</em></a>
<strong><h2>Wo soll es hingehen?</h2></strong>



<form>

  <input name="vorname" type="text" [(ngModel)]="neuerKunde.vorname" placeholder="Vorname">
  <input name="nachname" type="text" [(ngModel)]="neuerKunde.nachname" placeholder="Nachname"><br>
  <input name="strasse" type="text" [(ngModel)]="neuerKunde.strasse" placeholder="Strasse">
  <input name="hausnummer" type="text" [(ngModel)]="neuerKunde.hausnummer" placeholder="Hausnummer"><br>
  <input name="plz" type="text" [(ngModel)]="neuerKunde.plz" placeholder="PLZ">
  <input name="ort" type="text" [(ngModel)]="neuerKunde.ort" placeholder="Ort"><br>
  <input name="email" type="text" [(ngModel)]="neuerKunde.email" placeholder="E-mail"><br>
  <input name="telefonnummer" type="text" [(ngModel)]="neuerKunde.telefonnummer" placeholder="Tel."><br>

  <br>
  <a routerLink="/kauf_bestaetigung"><button (click)="save()" type="submit" >speichern</button></a>

</form>

<router-outlet></router-outlet>


