.bg-img{
  background-image: url("https://img.freepik.com/fotos-kostenlos/leckere-amerikanische-bierzusammensetzung_23-2148907577.jpg?w=2000");
  background-size: cover;
  background-repeat: no-repeat;
  width: 385%;
  height: 100vh;
}

h2,form{
  text-align: center;
  margin-top: 95px;
}
