.bg-img{
  background-image: url("https://cdn.pixabay.com/photo/2020/03/10/12/07/party-4918789_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 385%;
  height: 100vh;
}

h2,form{
  text-align: center;
  margin-top: 100px;
}
