
<a routerLink="/">Bierscholle</a>
<a routerLink="produkt_liste"> Zu den Produkten</a>
<!--<a routerLink="kunden_liste"> Kundenliste</a>-->
<a routerLink="stellenangebot"> Komm in unser Team!</a>
<a routerLink="ueber_uns">Über uns</a>
<a routerLink="kontakt">Kontakt</a>

<a routerLink="/warenkorb" class="button fancy-button">  <i class="material-icons"></i>Warenkorb</a>

<!--<a routerLink="/warenkorb" class="button fancy-button">-->
<!--  <i class="material-icons">einkaufswagen</i>Warenkorb-->
<!--</a>-->



