
* {
  font-family: 'Roboto', Arial, sans-serif;
  /*color: #616161;*/
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}



h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  /*color: #1976d2;*/
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}


input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}


.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* Top Bar */

app-kopfzeile {
  width: 100%;
  height: 68px;
  background-color: lightskyblue;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-kopfzeile h1 {
  color: white;
  margin: 0;
  font-family: sans-serif;
}


.warenkorb-item, .versand-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE;
}

app-hauptseite h1{
  color: #1976d2;
  font-size: 70px;
  line-height: 2;
  margin-top: 160px;
  margin-left: 900px;
  font-family: 'Sacramento', cursive;
}

app-hauptseite{


  opacity: 0.7; /* 50% Transparenz */
  background-image: url("bilder/Foto2.jpg");
  background-size: cover;
  margin-top: 60px;
  width: 700px;
  height: 500px;
}
button{
  /*background: #11cdd4;*/
  background: lightskyblue;
  /*background-image: -webkit-linear-gradient(top, lightskyblue, #11999e);*/
  background-image: -webkit-linear-gradient(top, lightskyblue, lightskyblue);
  background-image: -moz-linear-gradient(top, lightskyblue, lightskyblue);
  background-image: -ms-linear-gradient(top, lightskyblue, lightskyblue);
  background-image: -o-linear-gradient(top, lightskyblue, lightskyblue);
  background-image: linear-gradient(to bottom, lightskyblue, lightskyblue);
  /*-webkit-border-radius: 8;*/
  /*-moz-border-radius: 8;*/
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
button:hover{
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

app-warenkorb {
  opacity: 0.7;
  /*text-align: center;*/
  /*background-image: url("bilder/Foto1.jpg");*/
  background-size: cover;
  margin-top: 60px;
  margin-left: 500px;
  width: 700px;
  height: 500px;
  /*text-align: left;*/
  background-color:lightyellow;
}


app-kontakt{
 /*background-image: url("kontakt.jpg");*/
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.container1{


  padding-top: 100px;
  margin-right: 45px;


}

.flexrow {
  display: flex;
  justify-content:center ;
  padding-left: 200px;
  padding-right: 200px;

}

.card{
  min-height: 550px;
  background-color: white;
  width: 400px;
  border: 1px solid black;
  border-radius: 4px;
  overflow: hidden;
  position: relative;

}

.padding-16{

  padding: 16px;

}

.standart-card {

  background-color: white;
  width: 400px;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 32px;
  box-sizing: border-box;

}




app-email-bestaetigung{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIqvLeHhAMMxBeRv1gNLzmIBzPb6abP5h5IA&usqp=CAU");
  background-size: cover;
  width: 1300px;
  height: 900px;
}


