/*.bg-img{*/
/*  background-image: url("https://wallpaperaccess.com/full/1105642.jpg");*/
/*  background-size: cover;*/
/*  background-repeat: no-repeat;*/
/*  width: 123%;*/
/*  height: 100vh;*/
/*}*/


.purchaseConfirmation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1,h2,h3{
  color: black;
}
