<h2>Wir sind die Bierscholle</h2>

<p class="intro">
  Getränke in nur 120 Minuten geliefert – das ist das Versprechen, mit dem wir seit 2022 das
  Leben unserer Kund:innen vereinfachen. Als Revolutionäre der Last-Mile-Logistik in der deutschen Getränkebranche
  machen wir uns nun auf die Mission, der Getränkelieferant Deutschlands zu werden.
</p>
<hr>
<h2>Über uns</h2>
<p class="ueber uns">
  Seit Gründung der Bierpost als tausendster deutscher Getränkesofortlieferdienst in 2022 sind wir unaufhaltsam
  dabei, den deutschen Getränkemarkt zu erschließen. Wir sind bereits von über 7 Lagerstandorten
  aus in mehr als 7 deutschen Städten unterwegs und liefern dir deinen Einkauf innerhalb von 120 Minuten bis
  zur Wohnungstür. Wie wir das schaffen? Mit unserer richtungweisenden Logistik, Tech-Expertise und unserem
  Innovationsgeist. Wir setzen neue Standards in der Branche, und die Revolution geht weiter: Seit 2022 sind wir
  Teil der Programmierer-Gruppe und können dem dynamischen Marktwachstum gemeinsam noch besser begegnen.
</p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSC_U4q1NVIrrvv1ON5YfOVJ9hRuaPK8If2rg&usqp=CAU" alt="Factory">
<hr>
<h2>Vom Getränkesofortlieferant zum Online-Supermarkt</h2>
<p class="lieferung">
  Die Logistik ist unsere Stärke, die Weiterentwicklung unser Ziel. Mit unserem rasanten Aufstieg zu Deutschlands
  erstem Getränkesofortlieferdienst haben wir unsere Logistik-Expertise unter Beweis gestellt. Schwere Güter wie
  Getränkekisten effizient zu transportieren ist für uns eine Leichtigkeit. Warum also unseren Service zur Entlastung
  unserer Kund:innen nicht ausbauen? Gesagt, getan: Wir erweitern unser Sortiment und statten unsere Standorte
  schrittweise mit Lebensmitteln aus. Höchste Qualität und ein zuverlässiges Frischeversprechen erreichen wir
  dabei durch durchdachte Prozesse und innovative Lösungen. So liefern wir neben Getränken jetzt auch den gesamten
  Einkauf innerhalb von 120 Minuten nach Hause.
</p>
<img src="https://ahozat6rn.cloudimg.io/v7/_atalanda_production_img_/spree/vendor_images/9514/original/action_DSC0827.jpg?1592548750&q=75&width=768&height=540&func=crop&force_format=webp%2Cjpeg" alt="Lieferant">
<hr>
<h2>Hier sind wir unterwegs</h2>
<p class="unterwegs">
  Wir sind dabei, mit unserem Service ganz Deutschland zu erschließen. Innerhalb kürzester Zeit haben wir es
  geschafft, in nahezu allen Metropolregionen national einen einzigartigen Service und ein herausragendes
  Einkaufserlebnis bieten zu können. In über 30 Lagerstandorten und unseren Offices in Münster, Berlin und Köln
  arbeiten mittlerweile rund 20.000 Menschen daran, die Bierscholle nach vorne zu bringen. Gemeinsam bewegen wir
  über 10 Millionen Bestellungen im Jahr und begeistern somit täglich unsere Kund:innen.
</p>
<img src="https://image.flaschenpost.de/cms/corporate/ueber_uns/standorte_0822.gif" alt="Land">
