<h2>Die Bierscholle - Revolutionäre der Last-Mile-Logistik</h2>

<p class="intro">
  Wir sind die Bierscholle, der Getränkelieferant Deutschlands. Seit 2022 vereinfachen wir das Leben unserer
  Kund:innen mit unserem Versprechen, Getränke innerhalb von 120 Minuten zu liefern. Als Pioniere der
  Last-Mile-Logistik in der Getränkebranche setzen wir mit unserer innovativen Technologie und unserem
  Innovationsgeist neue Standards in der Branche. Seit 2022 sind wir Teil der Programmierer-Gruppe und können
  dem dynamischen Marktwachstum noch besser begegnen.
</p>
<!--<hr>-->
<h2>Über uns</h2>
<p class="ueberuns">
  Seit Gründung der Bierpost als tausendster deutscher Getränkesofortlieferdienst in 2022 sind wir unaufhaltsam dabei,
  den deutschen Getränkemarkt zu erschließen. Wir liefern von über 7 Lagerstandorten aus in mehr als 7 deutschen
  Städten und liefern innerhalb von 120 Minuten direkt vor die Wohnungstür. Unsere fortschrittliche Logistik, unsere
  technologische Expertise und unser Innovationsgeist ermöglichen es uns, neue Standards in der Branche zu setzen.
</p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSC_U4q1NVIrrvv1ON5YfOVJ9hRuaPK8If2rg&usqp=CAU" alt="Factory">
<!--<hr>-->
<h2>Vom Getränkesofortlieferant zum Online-Supermarkt</h2>
<p class="lieferung">
  Unsere Logistik ist unsere Stärke und die Weiterentwicklung unser Ziel. Wir haben uns als Deutschlands erster
  Getränkesofortlieferdienst etabliert und bewiesen, dass wir schwere Güter wie Getränkekisten effizient transportieren
  können. Aus diesem Grund haben wir uns dazu entschlossen, unseren Service auszubauen und unser Sortiment zu
  erweitern. Wir statten unsere Standorte schrittweise mit Lebensmitteln aus und garantieren höchste Qualität und
  Frische durch innovative Prozesse und Lösungen. So liefern wir jetzt auch den gesamten Einkauf innerhalb von 120
  Minuten nach Hause.

</p>
<img src="https://ahozat6rn.cloudimg.io/v7/_atalanda_production_img_/spree/vendor_images/9514/original/action_DSC0827.jpg?1592548750&q=75&width=768&height=540&func=crop&force_format=webp%2Cjpeg" alt="Lieferant">
<!--<hr>-->
<h2>Hier sind wir unterwegs</h2>
<p class="unterwegs">
  Wir sind dabei, mit unserem Service ganz Deutschland zu erschließen. Innerhalb kürzester Zeit haben wir es
  geschafft, in nahezu allen Metropolregionen national einen einzigartigen Service und ein herausragendes
  Einkaufserlebnis bieten zu können. In über 30 Lagerstandorten und unseren Offices in Münster, Berlin und Köln
  arbeiten mittlerweile rund 20.000 Menschen daran, die Bierscholle nach vorne zu bringen. Gemeinsam bewegen wir
  über 10 Millionen Bestellungen im Jahr und begeistern somit täglich unsere Kund:innen.
</p>
<img src="https://image.flaschenpost.de/cms/corporate/ueber_uns/standorte_0822.gif" alt="Land">
