<h1>Kontakt</h1>
<br>
<h2>Haben Sie eine Frage?</h2>
<p>
  Wir stehen Ihnen gerne zur Verfügung. Nutzen Sie einfach unser Kontaktformular, schreiben Sie uns eine E-Mail oder rufen Sie uns an!
  <br>
  <br>
  <strong>T: +49 (0)89 / 123 456 7</strong>
  <br>
  <br>
  <strong>E: <a class="btn" href="mailto:bier.post@gmx.de">biery.Post@gmx.de</a></strong>
</p>
<br>
<h2>Kontaktformular</h2>
<form>
  <input name="vorname" type="text"  placeholder="Vorname/Nachname">
  <br>
  <input name="strasse" type="text"  placeholder="Strasse/Hausnummer">
  <br>
  <input name="plz" type="text"  placeholder="PLZ/Ort">
  <br>
  <input name="email" type="text"  placeholder="E-mail">
  <br>
  <input name="ihre Nachricht" type="text" placeholder="Ihre Nachricht">
  <br>

  <a class="btn" href="mailto:raphael.birkl@gmail.com"><button>Abschicken</button></a>

</form>



<!--<img class="get in touch" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT54m1PfvJr7lGneT2p4JyrUBWBu4DBCDsT_Q&usqp=CAU" alt="get in touch">-->
