.red{
  color: red;
}

.green{
   color: green;
 }
backBtn{
     margin-left: fill;
   }

backBtn{  margin-left: fill;}



.warenkorb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 600px; /* Anpassen der maximalen Breite des Warenkorbs nach Bedarf */
  padding: 20px;
  border: 1px solid #ccc; /* Optional: Rahmen um den Warenkorb hinzufügen */
  border-radius: 5px; /* Optional: Abrundung der Ecken des Warenkorbs */
}

