<p>
  <a routerLink="/bierbayern">Zurück zum Bayrischen Bier</a>
</p>

<p>
  <a routerLink="/bierhamburg">Zurück zum Hamburger Bier</a>
</p>

<h3> Warenkorb </h3>

<!--<p>-->
<!--  <a routerLink="/versand">VersandKosten</a>-->
<!--</p>-->

<div class="warenkorb-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency: 'EUR' }}</span>
  <button type="button" (click)="remove(1)">
    löschen
  </button>
</div>


<div>Summe: {{ total() }}</div>

<br>

<button type="button" (click)="kaufen()">
  kaufen
</button>





