<!--<div class="bg-img">-->
<br>
<br>
<a routerLink="/produkt_liste"><em>zurück zu der Bierauswahl :)</em></a>
<br>
<br>
<div class="warenkorb">
<h1>Rechnung</h1>



<table>
  <tr>
    <th>Produktbezeichnung</th>
    <th>Preis</th><br><br><br>
  </tr>
  <tr *ngFor="let warenkorb of warenkorbe" [routerLink]="['api/warenkorb']">
    <td>{{warenkorb.produktbezeichnung}}</td>
    <td>{{warenkorb.preis | euroFormatierung}}</td>
  </tr>
  <tr>
  <td><hr></td>
    <td><hr></td>
  </tr>



  <tr>
    <td><strong>Summe:</strong></td>
    <td><strong>{{summe() | euroFormatierung }}</strong></td>
</table>
<br>

<a class="red" type="button" (click)="loeschen()" ><em>Warenkorb Löschen</em></a>
<br>
<br>
<!--<a routerLink="/kundendaten_anlegen" class="green" type="button" (click)="loeschen()" ><em>Kauf abschließen</em></a>-->

<a routerLink="/kauf_abschliessen" class="green" type="button"> Kauf abschließen</a>
</div>

<!--</div>-->


