.red{
  color: red;
}

.green{
   color: green;
 }
backBtn{
     margin-left: fill;
   }

backBtn{  margin-left: fill;}

.bg-img{
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 120%;
  height: 100vh;
}
